.sticky {
    top: 0;
    position: sticky;
}

li {
    display: inline;
}

li a{
    align-items: top;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 30px;
color: black;
padding: 25px;
transition-duration: 1s;
padding-top: 30px;
background: none;
float: right;



}

li a:hover{
    font-size: 35px;
    transition-duration: 2s;
    color: antiquewhite;
        
}
ul{
    align-items: top;
    list-style: none;
    background: none;
    background-color:rgba(132,218,243,255);
    
    border:1px solid #000;
   

}

.header {
    font-size: 60px;
    font-weight: 3000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html * { font-family: Arial, Helvetica, sans-serif !important;}

nav {
    font-size: 30px;
    font-weight: 2400;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(132,218,243,255);
}

.contactlogo{
    display: flex;
    justify-content: center;
}

.contactusmain {
        padding: 5%;
        margin: 3%;
        background-color: aqua;
}

.logo {
    width: 10%;
    height: 10%;
}

.HomepageText {
    margin-top: 20%;
    margin-left: 25%;
    width: 50%;
    height: 10%;
    font-size: 40;
}