.sticky {
    top: 0;
    position: sticky;
}

li {
    display: inline;
}

li a{
    align-items: top;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 30px;
color: black;
padding: 25px;
transition-duration: 1s;
padding-top: 30px;
background: none;
float: right;



}

li a:hover{
    font-size: 35px;
    transition-duration: 2s;
    color: antiquewhite;
        
}
ul{
    align-items: top;
    list-style: none;
    background: none;
    background-color:rgba(132,218,243,255);
    padding: 5px;
    border:1px solid #000;
    z-index: 99999;
   

}

.header {
    font-size: 80px;
    font-weight: 4000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html * { font-family: Arial, Helvetica, sans-serif !important;}

nav {
    font-size: 30px;
    font-weight: 2400;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(132,218,243,255);
}

.contactlogo{
    display: flex;
   justify-content: space-around;
   
}

.contactusmain1 {
display: flex;
justify-content: center;
border: 5px solid; color: #000; padding: 3%; margin: 3%;
color: rgb(0, 0, 0);
}

.logo {
    width: 15%;
    height: 10%;
    margin-bottom: 10px;
}

.HomepageText {
    margin-top: 10%;
    margin-left: 15%;
    width: 25%;
    height: 10%;
    font-size: 40;
    background: none !important;
    
}

.HomepageText2 {
    background: none !important;
    
}

#Shopnow {
    width: 50%;
    height: 100%;
}
#bestsell{
    border: black solid ;
    text-align: center;
    margin-top: 36.2%;
    font-size: 50px;
    font-weight: 600;  
}

.Product {
    display: inline-block;
    border: #000 solid;
    text-align: center;
    width: 560px;
    margin-top: 2%;
    margin-left: 2%;
   background-color: white !important;
   height: 750px;
  vertical-align: top;
}
.Product img {
    
width:  100%;
height: 560px;
}
.Product p {
    background-color: white;
    
}

.Product h1 {
    background-color: white;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
   
}


.donuttext { font-size: 35px;
    font-weight: bolder;}

    .deal {
        background-color: white;
    }