/*dit is een class die er voor zorgt dat de navbar sticky is en boven aan blijft */
.sticky {
    top: 0;
    position: sticky;
}
/*dit zorgt er voor dat alle li's naast elkaar staam*/
li {
    display: inline;
}
/*de zorgt voor hoe de tekst van de li's er uit zien*/
li a{
    align-items: top;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding: 25px;
    transition-duration: 1s;
    padding-top: 30px;
    background: none;
    float: right;
}
/*dit zorgt er voor dat de li's veranderen van kleur en groote als je er met je muis overheen gaat*/
li a:hover{
    font-size: 35px;
    transition-duration: 2s;
    color: antiquewhite;
}
/*dit zorgt er voor dat de ul(navbar) de goede groote en kleur heeft ook zorgt de "z-index" ervoor dat hij voor de afbeeldingen staat */
ul{
    align-items: top;
    list-style: none;
    background: none;
    background-color:rgba(132,218,243,255);
    padding: 5px;
    border:1px solid #000;
    z-index: 99999;
}
/*dit is een class die er voor zorgt dat de header bepaalde groot en letter type heeft */
.header {
    font-size: 80px;
    font-weight: 4000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*dit zorgt er voor de de alles de volgende eigenschapen heeft*/
* {
    margin: 0;
    padding: 0;
    background-color: rgba(132,218,243,255);
    font-family: Arial, Helvetica, sans-serif !important;
}
/*dit is een id die er voor zorgt dat afbeeldingen op een bepaalde manier naast elkaar komen te staan */
#contactlogo{
    display: flex;
   justify-content: space-around;
}
/*dit is een class die zorgt voor tekst op maak */
.contactusmain1 {
    display: flex;
    justify-content: center;
    border: 5px solid; color: #000; padding: 3%; margin: 3%;
    color: rgb(0, 0, 0);
}
/*dit is een class die ervoor zorgt deat het logo ind e navbar de goede groote hebben*/
.logo {
    width: 15%;
    height: 10%;
    margin-bottom: 10px;
}
/*dit is een id de tekst op de homepage veranderd */
#HomepageText {
    margin-top: 10%;
    margin-left: 15%;
    width: 25%;
    height: 10%;
    font-size: 40;
    background: none !important;
}
/*dit is een id die de achtergrond van de tekst op de homepage veranderd */
#HomepageText p {
    background: none !important;   
}
/*dit is een id die de shopnow knop onder de tekst op de homepage de goede groote maakt */
#Shopnow {
    width: 50%;
    height: 100%;
}
/*dit is een id die de bestsellers tekst opmaak doet*/
#bestsell{
    border: black solid ;
    text-align: center;
    margin-top: 36.2%;
    font-size: 50px;
    font-weight: 600;  
}
/*dit is een class die de groote van de producten in de shop doet */
.Product {
    display: inline-block;
    border: #000 solid;
    text-align: center;
    width: 560px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: white !important;
    height: 750px;
    vertical-align: top;
}
/*dit is een class die de groote van de afbeeldinggen van de producten doet*/
.Product img {
    width:  100%;
    height: 560px;
}
/*dit is een class die de groote van de achtergrond van de text van de producten doen */
.Product p {
    background-color: white;
}
/*dit is een class die de groote van de achtergrond van de text van de producten doen */
.Product h1 {
    background-color: white;
}
/*dit is een class die de opmaak van de footer doet */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 1%;
}
/*dit is een class die de groote van de naam van de donuts in de shop doet  */
.donuttext { 
    font-size: 35px;
    font-weight: bolder;
}
/*dit is een class die de achtergrond van de deal veranderd */
.deal {
    background-color: white;
    }
/*dit is een class die de tekst kleur veranderd van de donuts */
.ProductpageA {
    color: black;
} 
/*dit is een class die de div op de product pagina veranderd*/
.Productpagedonut {
    font-size: 50px;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 3%;
    margin-bottom: 8%;
}
/*dit is een class die de afbeelding groote op de product pagina veranderd*/
.Productpagedonut img {
    border: #000 solid;
}
/*dit is een class die de tekst op de product van de product pagina veranderd */
.Productpagedonuttext {
    font-size: 70px;
    font-weight: bold;
    display: inline-flex;
    margin-right: 20%;
    margin-top: 10%;
    float: right;
    flex-flow: column;
    width: 30%;
}
/*dit is een id die de achtergrond op de home page veranderd */
#backgroundhomepage {
    background-image: url(/images/donutbackground3.0.jpg);
    background-position-y: 120px;
    background-repeat: no-repeat;
}
/*dit is een class die tekst op de product page veranderd*/
.Productpagedescription {
    font-size: 25px;
    font-weight: 100;
}
/*dit is een class die de kop van de unusual donut's veranderd */
.unusualdonuts { 
 border: black solid ;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 50px;
    font-weight: 600;  
}
